:root{
  --colorLogoA: #8a94d9;
  --colorLogoB: #6f9298;
  --colorLogoC: #9bb6ad;
  --colorLogoCText:#6b8079;
}

.otterColor1{
  color: var(--colorLogoA);
}
.otterColor2{
 color:var(--colorLogoB)
}
.otterColor3{
  color: var(--colorLogoC);
}

.linkedIcon, .linkedIcon:active, .linkedIcon:hover{
  text-decoration: none;
  outline: 0;
  border:0;
}

.manyManys{
  display: flex;
  justify-content: space-around;
  
}
.manyLogos{
  width: 100px;
  min-height: 40px;
  max-height: 120px;
  margin: 5px;
}
.statusSection{
  display: flex;
  flex-direction: row;
  text-wrap:pretty;
  
}





@media (max-width: 780px) {
  
    .manyManys{
      display: flex;
      flex-direction: column;
    }
}
