

#footprints-container{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.printType{
  
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('/marcs_assets/images/OtterPrintSingle.svg');
  background-size: cover;
  animation: moveFootprint 5s linear infinite;
}
 


@keyframes moveFootprint {
  0% {
      transform: translateY(0) translateX(0) rotate(0deg);
      opacity: 1;
  }
  100% {
      transform: translateY(100vh) translateX(100vw) rotate(360deg);
      opacity: 0;
  }
}


/*
.printTypeA{
  z-index: 99;
  position: static;
  rotate: 20deg;
  opacity: 77%;
  margin-left: 80%;
}
.printTypeB{
  z-index: 99;
  margin-left: 75%;
  margin-bottom: 45px ;
  opacity: 87%;
  rotate: -9deg;
}
.PrintTypeC{
  z-index: 99;

  opacity: 97%;
}
  */
